Flask==3.0.3
flask-cors==6.0.2
gunicorn==23.0.0
numpy==1.26.4
pandas
scikit-learn>=1.2.0
opencv-python-headless==4.8.1.78
opencv-contrib-python-headless==4.8.1.78
mediapipe==0.10.21
matplotlib==3.8.4
pillow==10.4.0
flask-login==0.6.3
tensorflow==2.15.0
pyttsx3